.ufo--page-hero,
    .ufo-sec--projectgrid {
        --h1Font: "Source Sans Pro";
        --h1Color: #282A2B;
        --h1Weight: normal;
        --h1Style: normal;
        

            --h1Size: 17px;
            --h1Height: 20px;
        --h2Font: "Source Sans Pro";
        --h2Color: #282A2B;
        --h2Weight: 900;
        --h2Style: normal;
        

            --h2Size: 60px;
            --h2Height: 72px;
        --p1Font: "Source Sans Pro";
        --p1Color: #282A2B;
        --p1Weight: 400;
        --p1Style: normal;
        

            --p1Size: 18px;
            --p1Height: 22px;
        --projectTitleFont: "Montserrat";
        --projectTitleColor: #282A2B !important;
        --projectTitleWeight: 700;
        --projectTitleStyle: normal;
        

        --projectSubTitleFont: "Karla";
        --projectSubTitleColor: #949390 !important;
        --projectSubTitleWeight: normal;
        --projectSubTitleStyle: normal;
        

        --buttonFont: "Source Sans Pro";
        --buttonColor: #282A2B;
        --buttonWeight: 400;
        --buttonStyle: normal;
        --borderColor: #282A2B33;

            --buttonSize: 16px;
            --buttonHeight: 21px;

            --projectTitleSize: 20px;
            --projectTitleHeight: 23px;
            --projectSubTitleSize: 16px;
            --projectSubTitleHeight: 19px;
        }




            .ufo-sec--projectgrid .project-title {
                --projectTitleColor: #282A2B !important;
            }

            .ufo-sec--projectgrid .project-subtitle {
                --projectSubTitleColor: #949390 !important;
            }


            .profile-footer {
                --buttonFont: Source Sans Pro;
                --buttonColor: #282A2B;
                --buttonSize: 16px;
            }


                .ufo-sec--projectgrid .project-title {
                    --h2Color: #282A2B;
                }



                .ufo-sec--projectgrid .project-subtitle {
                    --p1Color: #949390;
                }
